@mixin transform-spin-scale($a, $b){
    -webkit-transform: rotate($a) scale($b);
    -ms-transform: rotate($a) scale($b);
    transform: rotate($a) scale($b);
}

@keyframes spin{
    0%{
        @include transform-spin-scale(0deg, 1);
    }
    50%{
        @include transform-spin-scale(180deg, 2);
    }
    100%{
        @include transform-spin-scale(360deg, 1);
    }
}

