$default-color: pink;
$button-color: lightblue;
$button-hover: darkblue;

$default-speed: 5s;

$text-color: white;
$text-font: Arial, Helvetica, sans-serif;
$font-size-small:0.5em;
$font-size-large:1.2em;