/*Exercise #1, CSS positioning, based on https://codepen.io/ekkebus/pen/zeLVjr*/
header,
nav,
section,
footer {
  height: 50px;
}

header > nav {
  background-color: black;
  color: white;
}

section.links {
  background-color: grey;

}

section.rechts {
  background-color: green;
}

footer {
  background-color: black;
  color: white;
}

