a {
    background-color: yellow;
    display: inline;
    height:300px;
    width: 200px;
  }
  
  p.demoparagraaf {
    display: inline;
    background-color: lightblue;
  }
  
  code {
    background-color: lightgrey;
  }