.staticitem {
  position: static;
  left: 100px;
}

.relativeitem {
  position: relative;
  left: 40px;
  top: 40px;
}

.fixeditem {
  position: fixed;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  color: white;
  background-color: black;
}

.absoluteitem {
  position: absolute;
  bottom: 40px;
  left: 100px;
  width: 400px;
  height: 100px;
  background-color: red;
}
