/*Simplified: based on https://codepen.io/ernstbolt/pen/WRMrxG*/
.container {
    width: 600px;
    /*margin auto will center the container*/
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
}

.container section{
    min-width: 150px;
    min-height: 150px;
}

/*first 'row' (together: 100%)*/
.c1 {
  width: 60%;
}

.c2 {
  width: 40%;
}

/*second / continued 'row' (together 100%)*/
.c3, .c4, .c5 {
  width: 33.33%;
}

.c1 {
    background-color: #003476;
}

.c2 {
    background-color: #0062d2;
}

.c3 {
    background-color: #b4d2f7;
}

.c4 {
    background-color: #d5dfef;
}

.c5 {
    background-color: #dfe1e5;
}