/*based on https://codepen.io/ernstbolt/pen/WRMrxG*/
body {
  margin: 0;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}

.container section {
  min-width: 150px;
  min-height: 150px;
}

.c1 {
  background-color: #003476;
}

.c2 {
  background-color: #0062d2;
}

.c3 {
  background-color: #b4d2f7;
}

.c4 {
  background-color: #d5dfef;
}

.c5 {
  background-color: #dfe1e5;
}

/*mobile view*/
.c1,
.c2,
.c3,
.c4,
.c5 {
  width: 100%;
}

/* view two*/
@media (min-width: 600px) {
  .c2,
  .c3,
  .c4,
  .c5 {
    width: 50%;
  }
}

/* view three (desktop)*/
@media (min-width: 800px) {
  .c1 {
    width: 60%;
  }

  .c2 {
    width: 40%;
  }

  .c3,
  .c4,
  .c5 {
    width: 33.33%;
  }
}
