/* Floating block elements
  none = default, the block flows at the normal document flow. Both blocks are 'on top' of eachother
  left = (if there is room) float to the left of the first available position in the flow
  right = (if there is room) float to the left of the first available position in the flow
  clear:left = "clear the enitre flow to the left of the element (there is no room for other foating elements)"
  clear:both, continue with the normal doument flow behaviour

  Example based on: https://codepen.io/ekkebus/pen/aqboXb
*/
.top {
    float:none; /*none = default*/
    width: 100%;
    
    background-color:white; 
  }
  
  .float-left{  
    background-color: pink;
    opacity: 1;
    height: 100px;
    width: 100px;
    float:none; /*none = default*/
  }
  
  .float-right{
    background-color: lightblue;
    height: 100px;
    width: 100px;
    float:none; /*none = default*/
  }
  
  .clear{
    clear: both;  /*none = default*/
  }