#container {
  /*select by ID*/
  width: 960px;
}

a[href="http://www.windesheim.nl"]
{
  /*select by attribute*/
  color: red;
}

input[type="radio"]:checked + label { /*pseudo class*/
  color: red;
}

p::before {
  /*pseudo element*/
  content: "Read this :)";
}
