/*Exercise #1, CSS positioning, based on https://codepen.io/ekkebus/pen/zeLVjr*/
header,
nav,
section,
footer {
  height: 50px;
}

header > nav {
  background-color: black;
  color: white;
}

section.links {
  background-color: grey;
  width: 50%;
  position: absolute;
  /*the absolute position creates space for 'rechts'*/
}

section.rechts {
  background-color: green;
  width: 50%;
  position: relative;
  left: 50%;

}

footer {
  background-color: black;
  color: white;
}

