/*Exercise #2, CSS floats, based on https://codepen.io/ekkebus/pen/zeJBeq*/

header,
nav,
section,
footer {
  height: 50px;
}

header > nav {
  background-color: black;
  color: white;
}

section.links {
  background-color: grey;
  float: left;
  width: 50%;
}

section.rechts {
  background-color: green;
  float: right;
  width: 50%;
}

footer {
  clear: both;
  background-color: black;
  color: white;
}
