/*Exercise #4, CSS Grid, based on https://codepen.io/ekkebus/pen/YzXqmqJ*/
body {
  display: grid;
  /*define a 2x3 grid template*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  /*this defines where the grid area's are placed*/
  grid-template-areas:
    "header header"
    "left right"
    "footer footer";
}

/*define names for the grid*/
header {
  grid-area: header;
}
section.links {
  grid-area: left;
}
section.rechts {
  grid-area: right;
}
footer {
  grid-area: footer;
}

/*CSS below is the same as the template*/
header,
nav,
section,
footer {
  height: 50px;
}

header > nav {
  background-color: black;
  color: white;
}

section.links {
  background-color: grey;
}

section.rechts {
  background-color: green;
}

footer {
  background-color: black;
  color: white;
}
