/*Exercise #3, CSS flexbox, based on https://codepen.io/ekkebus/pen/KJxNNv*/
body {
  /*body is the flexcontainer*/
  display: flex;
  flex-flow: row wrap;
}

header,
nav,
section,
footer {
  height: 50px;
  width: 100%; /*geef alle elementen in de container default 100%*/
}

header > nav {
  background-color: black;
  color: white;
}

section.links {
  background-color: grey;
  width: 50%; /*overschrijf de uitzondering*/
}

section.rechts {
  background-color: green;
  width: 50%; /*overschrijf de uitzondering*/
}

footer {
  background-color: black;
  color: white;
}