/*some basic styles for the sake of the example*/
body {
  background: #222;
}

div {
  background: #fff;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto; /*centers the box*/
  top: 200px;
}

/*animation and transformation examples below*/

div.box {
  animation: myanimation 30s linear 1;
}

@keyframes myanimation {
  0% {
    transform: rotate(0deg); /* Firefox 16+, etc */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, etc. */
  }
}

div.box {
  /*heeft invloed op de hover*/
  /*transition: background 5s;*/
}
div.box:hover {
  animation: myanimation 1.5s linear infinite;
  background: #f00;
}
