.center-div{
    position: absolute;
    width:150px;
    height: 150px;
    margin: auto;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border-radius:10px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    animation: spin $default-speed linear infinite;
    article{
        h2{
            @extend %default-text;
            font-size: $font-size-large;
        }
        p{
            @extend %default-text;
            font-size: $font-size-small;
        }
    }
}