#spa{
    margin:10px;
    animation: spin $default-speed linear infinite;
    input[type=button]{
        color: $text-color;
        background-color: $button-color;

        &:hover{
            background-color: $button-hover;
        }
    }
}
